<!DOCTYPE html>
<html lang="en">
  <%- include('./template/head') %>
<body>
  <!-- 導覽列 -->
  <%- include('./template/navbar') %>

  <section class="section">
    <form action="/update-faq/<%= faq.id %>" method="POST" class="form">
      <% if (errorMessage) { %>
        <h3><%= errorMessage %></h3>
      <% } %>
      <div class="form__input">
        <div>
          <label for="title">問題標題：</label>
          <input type="textarea" placeholder="<%= faq.title %>" name="title">
        </div>
        <div>
          <label for="content">問題內容：</label>
          <input type="textarea" placeholder="<%= faq.content %>" name="content">
        </div>
        <div>
          <label for="order">順序：</label>
          <input type="text" placeholder="<%= faq.order %>" name="order">
        </div>
      </div>
      <input type="submit" value="送出" class="form__btn">
    </form>
  </section>

</body>
</html>

