<!DOCTYPE html>
<html lang="en">
  <%- include('./template/head') %>
<body>
  <!-- 導覽列 -->
  <%- include('./template/navbar') %>

  <section class="section">
    <form action="/update-menu/<%= menu.id %>" method="POST" class="form">
      <% if (errorMessage) { %>
        <h3><%= errorMessage %></h3>
      <% } %>
      <div class="form__input">
        <div>
          <label for="mealname">餐點名稱：</label>
          <input type="text" placeholder="<%= menu.mealname %>" name="mealname">
        </div>
        <div>
          <label for="mealimg">餐點圖片：</label>
          <input type="text" placeholder="<%= menu.mealimg %>" name="mealimg">
        </div>
        <div>
          <label for="price">餐點價錢：</label>
          <input type="text" placeholder="<%= menu.price %>" name="price">
        </div>
      </div>
      <input type="submit" value="送出" class="form__btn">
    </form>
  </section>

</body>
</html>

